.SignupForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 40px auto;

}

.Header_nav {
    display: flex;
    margin: 20px;
}

.Header_nav a {
    cursor: pointer;
    margin: 20px;
    text-decoration: underline;
}

h1 {
  text-align: center;
}
